/*  Font ------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*  Color Root ------------------------------------------*/
:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slat-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

/* Global classes ------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

/* App ------------------------------------------ */
.App {
    max-width: 950px;
    padding: 1rem;
    background: var(--white);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

/* Show Case */
.App .show-case {
    gap: 2rem;
    margin-left: 3rem;
}

.App .show-case .title {
    font-size: 3rem;
    color: var(--dark-slat-grey);
}

.App .show-case .benefit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.App .show-case .benefit li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Form */
.App .show-case .form input {
    border-radius: 0.5rem;
    border: solid 1px var(--grey);
    padding: 1rem;
}

.App .show-case .form button {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--dark-slat-grey);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.App .show-case .form button:hover {
    background-image: linear-gradient(to right, var(--tomato), red);
}

.App .show-case .form div:first-child {
    display: flex;
    justify-content: space-between;
    color: var(--dark-slat-grey);
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.App .show-case .form div:first-child span {
    color: var(--tomato);
    display: none;
}

/* Cover */
.App .cover .mobile-cover {
    display: none;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    body {
        display: block;
    }

    .App {
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: start;
        overflow: auto;
        padding: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        gap: 1rem;
    }

    /*Show case*/
    .App .show-case {
        margin-left: 0;
        padding: 0.5rem 1.5rem;
    }

    /*Cover*/
    .App .cover .mobile-cover {
        display: block;
    }

    .App .cover .desktop-cover {
        display: none;
    }
}